<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>

<body>
<br>
<br>
<div align="center">
    <h1>
        <font color="#BA55D3" face="KaiTi"> ～～ 蛋糕 🍰 🍰 🍰 🍰 🍰 ～～ </font>
    </h1>
    <h1>
        <font color="#FF69B4" face="KaiTi">杨凤玲!</font>
    </h1>
    <h1>
        <font color="#C71585"> Happy Birthday! </font>
    </h1>
    <h1>
        <font color="#D02090"> ～～ 撒花 🎉 🎉 ～～ </font>
    </h1>
    <h1>
        <font color="#D02090"> ～～ 鲜花 💐 💐 💐 💐 💐 ～～ </font>
    </h1>
</div>
<br>
<div align="center">
    <h1>
        <font color="#4169E1">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by 鲍礼彬!
        </font>
    </h1>
</div>

</body>
</html>